<!doctype html>
<HTML>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.mi
n.css" rel="stylesheet" integrity="sha384-
wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin=
"anonymous">
        <title>IC2140 IoT</title>
    </head>
    <body>
        <h1 class="display-3 p-3 mb-2 bg-danger text-white">IC2140 IoT</h1>
        <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>create_time</th>
        <th>node_id</th>
        <th>loc</th>
        <th>temp</th>
        <th>hum</th>
        <th>light</th>
        <th>snd</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
        <tr>
        <td>{{ event.create_time }}</td>
        <td><strong>{{ event.node_id }}</strong></td>
        <td>{{ event.loc }}</td>
        <td>{{ event.temp }}</td>
        <td>{{ event.hum }}%</td>
        <td>{{ event.light }}%</td>
        <td>{{ event.snd }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </body>
</HTML>