<!doctype html>
<HTML>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <title>Inventory</title>
    </head>
    <body>
        <h1 class="display-3 p-3 mb-2 bg-danger text-white">Inventory List for more than 5 year</h1>

        {% for inventory in inventories %}
        <article>
            <span class="d-block p-2 bg-primary text-white">inventory number: {{ inventory.inventory_no }}</span>
            <div class="p-3 mb-2 bg-secondary text-white"><p>location: {{inventory.Location}}</p>
            <p>end user: {{ inventory.end_user }}</p>
            <p>description: {{ inventory.description }}</p>
            <p>brand: {{ inventory.brand }}</p>
            <p>unit price: {{ inventory.unit_price }}</p>
            <p>purchase date: {{ inventory.date_purchase }}</p>
            





            </div>
    
            </article>
        {% endfor %}

    </body>
</HTML>

